div{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 1px;
}

.div01 {
    background: #bb11aa;
    /* no rompe el flujo del documento */
    /* position: relative; */
    /* top: 40px; */

    /* romper el flojo del documento y ponerlo en otro lugar.*/
    /* es relativa al body */
    /* padre absolute e hijo relativo, ahi se aplica esta propiedad */
    /* position: absolute; */
    /* left: 20px; */

    /* es relatavio a la pantalla. */
    position: fixed;
    left: 20px;
    top: 40px;

}
.div02 {
    background: #aa88ca;
}
.div03 {
    background: #ff00bb;
}
.div04 {
    background: #3388cc;
}
.div05 {
    background: #dd2200;
}
