.contenedor{
    height: 80px;
    background: #21bb11;
    display: flex;
    flex-direction: row;
    /* mismo especio entre elementos */
    /* justify-content: space-between; */

    /* espacio a los lados */
    /* justify-content: space-around; */
    
    /* mismo espacio igual entre los elementos */
    justify-content: space-evenly;

    /* alineacion sobre el eje vertical */
    align-items: center;

    /* si es que hay muchos elementos se empujan a la siguiente fila */
    flex-wrap: wrap;
}

.contenedor div {
    width: 80px;
    height: 40px;
}

.div01{
    background: #ff0000;
}

.div02{
    background: #024488;
}

.div03{
    background: #1199ff;
}

.div04{
    background: #2277dd;
}
