p{
    color: #0000ff;
    font-size: 25px;
}

.clase-texto{
    color: #ff0000;
}

#texto-unico{
    color: #ff00ff ;
}

.clase-texto span {
    color: #00ffaf;
}

p span{
    text-decoration: underline;
}
